<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div class="row justify-content-md-end">
      <div class="col-md-2">
        {{#link-to "index.shop"}}<button class="btn btn-default pull-right">Open shop</button>{{/link-to}}
      </div>
    </div>
    <div class="card mt20">
      <nav class="card-body">
        <ul class="list-group list-group-flush">
          {{#each groups as |group|}}
            <li class="list-group-item">
              <strong>{{group.count}} {{group.name}}</strong> automatic{{if (lt 1 group.count) "s"}} generate: <strong>{{group.total}}</strong> click{{if (lt 1 group.count) "s"}} per {{group.unit}}
            </li>
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
</div>