.mt20 {
  margin-top: 20px;
}

.db {
  display: block !important;
}

.pull-right {
  float: right !important;
}

@media (min-width: 1024px) {
  .modal.wide .modal-dialog {
    max-width: 50vw !important;
  }
}

.modal .modal-body {
  max-height: 70vh;
  overflow-y: scroll;
}
