<div class="modal fade show db wide">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Shop</h5>
        {{#link-to "index"}}<button type="button" class="close"><span>&times;</span></button>{{/link-to}}
      </div>
      <div class="modal-body">        
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Clicks</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each model.availableAutomatics as |automatic|}}
              <tr>
                <td>
                  <strong>{{automatic.name}}</strong>
                </td>
                <td>
                  <strong>{{automatic.step}} / {{automatic.unit}}</strong>
                </td>
                <td>
                  <strong>{{automatic.price}}</strong>
                </td>
                <td>
                  <button 
                    class="btn btn-success"
                    disabled={{lt model.counter.count automatic.price}}
                    {{action "buy" automatic}}
                  >
                    BUY!
                  </button>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        {{#link-to "index"}}<button type="button" class="btn btn-secondary pull-right">Close</button>{{/link-to}}
      </div>
    </div>
  </div>
</div>