<div class="wrapper">
  <div class="container-fluid mt20">
    {{reset-button}}
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Welcome to the clicker!</h1>

        {{outlet}}
      </div>
    </div>
  </div>
</div>